<html>
    <body>

        <h1>Welcome</h1>
        <img src="http://teen.mthai.com/app/uploads/2012/09/%E0%B8%81%E0%B8%B2%E0%B8%87%E0%B9%80%E0%B8%81%E0%B8%87%E0%B8%A2%E0%B8%B5%E0%B8%99%E0%B8%AA%E0%B9%8C%E0%B8%AB%E0%B8%A5%E0%B8%B2%E0%B8%81%E0%B8%AA%E0%B9%84%E0%B8%95%E0%B8%A5%E0%B9%8C%E0%B8%AB%E0%B8%A5%E0%B8%B2%E0%B8%A2%E0%B9%80%E0%B8%89%E0%B8%94%E0%B8%AA%E0%B8%B5.jpg"  width="400" height="200">
        <img src="https://s.isanook.com/wo/0/ud/12/63197/hi.jpg"  width="400" height="200">
        <img src="http://wm.thaibuffer.com/o/u/2016/jutharat/a4/e8143.jpg"  width="400" height="200">
        <img src="https://th-test-11.slatic.net/p/7/mm-xl-299-8493-16114994-b9979d9dd390528a863a8a19e10972ca-catalog_233.jpg"  width="150" height="200">
    </body>
</html>



